@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  /* font-variation-settings: 'wdth' 100, 'YTLC' 500;
  font-optical-sizing: auto; */
}

.form-input {
  @apply h-12 px-2 bg-slate-200 border border-slate-300 outline-none font-medium;
}
